# See https://atom.io/docs/latest/hacking-atom-package-word-count#menus for more details

'menu': [
  {
    'label': 'Packages'
    'submenu': [
      'label': 'open-in-browsers'
      'submenu': [
        {
          'label': 'Toggle'
          'command': 'open-in-browsers:toggle'
        }
      ]
    ]
  }
]
